.App {

}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.App-logo {

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.bg-grey{
  background-color: rgba(244, 242, 242, 0.662);
}
.App-header {
  
}
.bg-green{
  background-color: rgb(136, 210, 136);
}
.App-link {
 
}
.bg-light-grey {
  background-color: rgb(213, 213, 213);
}
.navbar-color {
  background-color: rgb(6, 158, 6);
}
.positionStick{
  padding: 10px 0; /* Example padding */
  z-index: 1000; 
  position:sticky;
  top:0;
  overflow-x: 'hidden';
}
.color-white{
  color:white;
}
